body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 320px;
}

.wapper {
	width: 1250px;
	margin: 0 auto;
}

nav {
	background: #081c28;
	padding: 8px;
	margin-top: 0;
}

nav ul {
	text-align: center;
}

nav ul li {
	list-style: none;
	display: inline;
}

nav ul li a {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	transition: 0.4s;
	padding: 20px;
}

nav ul li a:hover {
	color: #ce2f34;
}

.s_main {
	display: -webkit-box;
	padding: 20px;
	position: initial;
	width: 900px;
	margin: 100px auto;
}

.r_side {
	width: 450px;
	margin-top: 55px;
}

.l_side {
	width: 450px;
	padding: 10px;
}

.r_side>h1 {
	font-size: 80px;
	margin-top: 20px;
	margin-bottom: 5px;
}

.r_side>h2 {
	font-size: 30px;
	margin-top: -12px;
	margin-bottom: 5px;

}

.r_side>p {
	line-height: 23px;
	margin-top: 5px;
}

.l_side img {
	display: -webkit-box;
	margin: 0 auto;
}
.frist {
	background: #000;
	text-align: center;
	color: #fff;
	padding: 20px;
}

.frist-h2 {
	font-size: 50px;
}
.photos {
	margin: 0 auto;
}
.photos img {
	margin: 20PX;
	width: 250PX;
	height: inherit;
}

.img1{
	border-radius: 50px;
	border: 10px solid #3366cc;
}

.img3{
	border-radius: 100%;
	border-bottom: 20px solid #3366cc;
	-webkit-box-shadow: 1px -1px 56px -14px rgba(227,45,227,1);
-moz-box-shadow: 1px -1px 56px -14px rgba(227,45,227,1);
box-shadow: 1px -1px 56px -14px rgba(227,45,227,1);
}
.img4 {
	border-radius: 75px 112px 0px 200px;
-moz-border-radius: 75px 112px 0px 200px;
-webkit-border-radius: 75px 112px 0px 200px;
border: 0px solid #000000;
}
